# ================== .NET / Visual Studio ==================
bin/
obj/
.vs/
*.user
*.suo
*.sln.user

# ================== Build & Temp files ==================
*.pdb
*.dll
*.exe
*.cache
*.log
*.tmp

# ================== Other ==================
.DS_Store
Thumbs.db
.json
